<ion-header>
  <ion-navbar class="principal">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="oro"></ion-icon>
    </button>

    <div class="logo">
      <img src="assets/imgs/logof.png" alt="">
    </div>

    <ion-buttons start>
      <button ion-button icon-only (click)="abrirChat()">
        <ion-icon name="contact" color="oro"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card class="principal" padding>
      

       <h1>
        {{disponible}}€
       </h1>
       <div class="mini">
         Balance total
       </div>
  </ion-card>
  <div id="container" style="display: block;"	></div>

  <ion-list no-lines>
    <button ion-item  *ngFor="let inversion of inversiones | async" (click)="abrirDetalles(inversion.key)">

      <ion-row>
        <ion-col col-2>
 
              <ion-icon name="bulb" item-start color="oro"></ion-icon>
         
        </ion-col>

        <ion-col >
            {{inversion.nombre}}
            <br>

      <div class="mini">
        {{inversion.inversion}}€
      </div>
        </ion-col>
      </ion-row>
      
      
     

      <span item-end class="mini">
        {{inversion.fecha}}
      </span>

      

      
    </button>


  
    


  </ion-list>
  
<input type="hidden" class="abonos" value="{{movimiento.cantidad}}" *ngFor="let movimiento of movimientos | async">

</ion-content>
